/* LOOS FONT */

/* Loos ExtraWide Light
font-family: "loos-extrawide", sans-serif;
font-weight: 200;
font-style: normal;

Loos ExtraWide Regular
font-family: "loos-extrawide", sans-serif;
font-weight: 400;
font-style: normal;

Loos ExtraWide Medium
font-family: "loos-extrawide", sans-serif;
font-weight: 500;
font-style: normal;

Loos ExtraWide Bold
font-family: "loos-extrawide", sans-serif;
font-weight: 700;
font-style: normal;

Loos ExtraWide Black
font-family: "loos-extrawide", sans-serif;
font-weight: 800;
font-style: normal; */

/* MONTSERRAT */
/* font-family: "Montserrat", sans-serif;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal; */

/* BIRTHSTONE */
/* font-family: "Birthstone", cursive;
font-weight: 400;
font-style: normal; */

/* header h2 span {

} */
